* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: black;
}

img {
  max-width: 100%;
  max-height: 100%;
}

header {
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: all 0.2s ease;
  width: 100%;
}

nav {
  display: flex;
  font-size: 20px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  position: fixed;
}

.header-image {
  max-height: 130px;
  min-height: 50px;
  transition: height 0.2s ease;
  padding: 0;
  margin: 15px 40px;
  border: solid 4px black;
  border-radius: 5px;
}

ul {

  display: flex;
  margin-left: auto;
  list-style-type: none;
  align-items: center;
  gap: 40px;
}

li a {
  text-decoration: none;
  font-family: syne;
  justify-content: space-between;
  color: white;
  padding-right: 40px;
}

.rotating-pics {
  background:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
    /* Overlay */
    url('./assets/RotatingImage1.jpg');
  /* Background image */
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
}

.rotating-pics h1 {
  position: absolute;
  /* Position relative to .rotating-pics */
  top: 60%;
  /* Center vertically */
  left: 50%;
  /* Center horizontally */
  transform: translate(-50%, -50%);
  /* Centering adjustment */
  color: white;
  /* Ensure text is readable */
  font-size: 4.5rem;
  /* Adjust as needed */
  font-family: syne;
  text-align: center;
  /* Center text horizontally */
  z-index: 100;
  /* Ensure it's on top */
  border: solid 1px white;
  width: 100%;

}

main {
  display: flex;
  margin-top: 120px;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

#mission-image-container {
  /* border: solid rgb(0, 255, 247) 2px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 120px;
  background:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.626)),
    /* Overlay */
    url('./assets//mission-image2.jpg');
  /* Background image */
  height: 353px;
  width: 1024px;
  background-size: cover;
  border: solid 1px darkorange;
  color: white;
  font-family: syne;
}

#mission-statement-container h2 {
  border: solid 1px white;
  width: 80%;
  font-size: 45px;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  /* Shifts the element left by 50% of its own width */
}

#mission-statement-container {
  /* border: solid red 2px; */
  margin-bottom: 50px;

}

#button-wrap {
  border: solid 1px white;
  /*limiting the width of the container*/
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#button-wrap button {
   /*makes the buttons equal width*/
  background-color: darkred;
  color: white;
  padding: 20px 30px;
  border: none;
  cursor: pointer;
}

#about-us {
  color: white;
  font-family: syne;
  font-size: 20px;
  width: 1030px;
  margin-bottom: 120px;
  border: solid 1px darkred;
  line-height: 2;
}