* {
  margin: 0;
  padding: 0;
}

nav {
  border: darkred solid 2px;
  display: flex;
  align-items: center;
  background-color: black;
  height: 90px;
  position: fixed;
  width: 100%;
  
}

ul {
  display: flex;
  margin-left: auto;
  list-style-type: none;
  
}

li, a {
  /* margin-right: 10px; */
  text-decoration: none;
  color: white;
  font-size: 20px
  
}

img {
  max-width: 100%;
  height: auto;
  
}

.header-image {
  /* margin-right:auto; */
  height: 100px;
  width: auto;
  padding: 10px 20px;
  /* position: absolute; */
  margin-top: 60px
}
