* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: syne;
}

@font-face {
  font-family: Bronco;
  src: url('./assets/fonts/BroncoPersonalUse.ttf');
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: black;
}

img {
  max-width: 100%;
  max-height: 100%;
}

header {
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: all 0.2s ease;
  width: 100%;
}

nav {
  display: flex;
  font-size: 17px;
  font-weight: 600;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  position: fixed;
}

.header-image {
  max-height: 130px;
  min-height: 50px;
  transition: height 0.2s ease;
  padding: 0;
  margin: 15px 40px;
  /* border: solid 1px white; */
  border-radius: 5px;
}

nav li a:hover {
  background-color: rgba(255, 255, 255, 0.888);
  transition: background-color 0.8s ease, color 0.8s ease;
  color: black;
}

ul {
  display: flex;
  margin-left: auto;
  list-style-type: none;
  align-items: center;
  /* gap: 40px; */
  height: 100%;
}

li {
  display: flex;
  align-items: center;
  /* Center items vertically */
  height: 100%;
  /* Ensure li elements fill the height of the nav */
}

li a {
  display: flex;
  font-family: Bronco;
  letter-spacing: 3px;
  font-size: 18px;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 100%;
  /* Ensure a elements fill the height of the li */
  padding: 0 50px 0 30px;
}

ul.dropdown {
  position: absolute;
  list-style-type: none;
  padding: 0;
  margin: 0;
  top: 80px;
  visibility: hidden;
  opacity: 0;
  /* Initially invisible */
  transform: translateY(-10px);
  /* Start slightly above */
  transition: opacity 0.5s ease, transform 0.5s ease;
  /* Slow transition */
}

li:hover>ul.dropdown {
  max-height: 45px;
  display: block;
  visibility: visible;
  opacity: 1;
  /* Fully visible */
  transform: translateY(0);
  /* Move to the final position */
  transition: opacity 0.5s ease, transform 0.5s ease;
  /* Transition for opacity and transform */
}

/* Style the dropdown items */
ul.dropdown li a {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  border: transparent dashed 4px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 0.3s ease, color 0.8s ease, border-color 0.8s ease;
  text-decoration: none;
  font-size: 15px;
}

ul.dropdown li a:hover {
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 174, 0, 0.906);
  border-left: 4px solid rgba(255, 174, 0, 0.906);
  transition: background-color 0.3s ease, color 0.8s ease, border-color 0.8s ease;
}

#online-btn {
  border: 2px solid white;
  padding: 15px 25px 15px 25px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-family: Bronco;
  font-size: 18px;
  margin: 0 20px 0 20px;
  transition: background-color 0.3s ease, color 0.8s ease, border-color 0.8s ease;
  letter-spacing: 2px;
}

#online-btn:hover {
  box-sizing: border-box;
  background-color: rgba(255, 174, 0, 0.906);
  color: black;
  border: 2px solid transparent;
  font-weight:500;
}

#rotating-pics {
  background:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
    /* Overlay */
    url('./assets/RotatingImage1.jpg');
  /* Background image */
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
}

#rotating-pics h1 {
  position: absolute;
  /* Position relative to .rotating-pics */
  top: 60%;
  /* Center vertically */
  left: 50%;
  /* Center horizontally */
  transform: translate(-50%, -50%);
  /* Centering adjustment */
  color: white;
  /* Ensure text is readable */
  font-size: 4.5rem;
  /* Adjust as needed */
  text-align: center;
  /* Center text horizontally */
  z-index: 100;
  /* Ensure it's on top */
  border-style: solid;
  /* Sets the border style */
  border-width: 2px 0;
  /* Sets the top and bottom borders to 2px, and left and right to 0 */
  width: 100%;

}

main {
  display: flex;
  /* margin-top: 120px; */
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#img-and-description {
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  max-height: 500px;
  max-width: 1000px;
}

#seasonal {
  width: 50%;
  height: auto;
}

#description-box {
 display: flex;
 flex-direction: column;
 line-height: 40px;
 background-color: orange;
 width: 50%;
 height: 100%;
 padding: 35px;
 justify-content: center;
 align-items: center;
}

#description-box h2 {
  color: white;
  font-size: 35px;
}

#description-box p {
  color: white;
  font-size: 20px;
}

#middle-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e1c1c;
  width: 100%;
}

#about-us {
  color: white;
  font-family: syne;
  font-size: 20px;
  width: 1030px;
  margin: 50px auto 100px;
  /* border: solid 1px darkred; */
  line-height: 2;
}

#mission h2 {
  font-family: Bronco;
  font-size: 50px;
  letter-spacing: 4px;
}

#mission-image-container {
  /* border: solid rgb(0, 255, 247) 2px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 120px 0 120px 0;
  background-color: black;
  background:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.626)),
    /* Overlay */
    url('./assets/mission-image2.jpg');
  /* Background image */
  height: 353px;
  width: 1024px;
  background-size: cover;
  /* border: solid 1px darkorange; */
  color: white;
  font-family: syne;
}

#mission-statement-container h2 {
  /* border: solid 1px white; */
  width: 80%;
  font-size: 45px;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  /* Shifts the element left by 50% of its own width */
}

#button-wrap {
  /*limiting the width of the container*/
  border: 2px solid transparent;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  box-sizing: border-box;
}

#button-wrap button {
  /*makes the buttons equal width*/
  background-color: darkred;
  border: 2px solid transparent;
  border-radius: 5px;
  /* Add a transparent border initially */
  color: white;
  font-family: Bronco;
  letter-spacing: 2px;
  font-size: 20px;
  padding: 20px 40px;
  cursor: pointer;
  box-sizing: border-box;
}

#button-wrap button:hover {
  background-color: rgba(255, 255, 255, 0.749);
  color: darkred;
  border: 2px solid darkred;
  transition: background-color 0.3s ease, color 0.3s ease;
}



footer {
  background-color: black;
}